<html>
	<head>
	  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
	  <script src="/angular/angular.js"></script>
	  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
	  <script src="/app.js"></script>
	  <script src="/routes.js"></script>
	  <script src="/region/RegionService.js"></script>
	  <script src="/region/RegionsListCtrl.js"></script>
	  <script src="/salesPerson/SalesPersonService.js"></script>
	  <script src="/salesPerson/SalesPersonCtrl.js"></script>
	</head>
	<body ng-app="app">
	  <div class="container">
		 <h1>Acme Sales Angular</h1>
		 <ul class="nav nav-tabs">
		   <li><a ui-sref='homePage'>Home</a></li>
		   <li><a ui-sref='regionsView'>Regions</a></li>
		   <li><a ui-sref='salesPeopleView'>Sales People</a></li>
		 </ul>
		 <ui-view></ui-view>
	  </div>
	</body>
</html>