<html>
	<head>
	  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
	  <script src="/angular/angular.js"></script>
	  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
	  <script src="/app.js"></script>
	  <script src="/routes.js"></script>
	  <script src="/region/RegionService.js"></script>
	  <script src="/region/RegionsListCtrl.js"></script>
	  <script src="/salesPerson/SalesPersonService.js"></script>
	  <script src="/salesPerson/SalesPersonCtrl.js"></script>
	  <script src="/CompanyStatusCtrl.js"></script>
	</head>
	<body ng-app="app">
	  <div class="container">
		 <h1>Acme Sales Angular</h1>
		 <ul class="nav nav-tabs">
		   <li ui-sref-active="active"><a ui-sref='homePage'>Home</a></li>
		   <li ui-sref-active="active"><a ui-sref='regionsView'>Regions</a></li>
		   <li ui-sref-active="active"><a ui-sref='salesPeopleView'>Sales People</a></li>
		 </ul>
		 <div ng-controller="CompanyStatusCtrl">
		   <ul class="list-group">
		     <li class="list-group-item">We have X sales people!</li>
		     <li class="list-group-item">We have {{ numRegions }} regions!</li>
		   </ul>
		 </div>
		 <ui-view></ui-view>
	  </div>
	</body>
</html>